.container{
    margin:auto;
    padding: 20px;
    background-color: beige;
    height: 300px;
    width: 700px;
    margin-top: 40px;
    

}
.img1 {
    height: 20px;
}
.bloc1{
    background-color: blue;
    height: 60px;
    margin:0;
    padding: 0;
    width: 700px;
}
.img2{
    border-radius: 50%;
    background-color: #fff;
    height: 190px;
    padding: 5px;
    margin-top: 20px;
    margin-left: 20px;
  
  
}