
img.octocat {
    height: 200px;



}
.container{
    background-color: aliceblue;
    width: 800px;
    text-align: center;
    padding: 20px;
    margin:0 auto;
}
h1{
    margin-bottom: 20px;
    margin-top: 0;
}
.row1{
    display: flex;
    background-color: blueviolet;
    padding: 20px;
    justify-content:space-evenly;
    margin:20px;
    
}
.row2{ 
    display:flex;
    background-color: lightpink;
    padding: 20px;
    justify-content:space-around;
    margin:20px;
}
.row3{
    display: flex;
    background-color: white;
    padding:20px;
    margin:20px;
    justify-content: space-evenly;
}